@model LimpiaMAS.Models.TbLimpiador
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
</head>
<body>
    <div class="tabla">
    </div>
    <form asp-controller="Limpiador" asp-action="grabar" method="post" enctype="multipart/form-data">
        ID:<input type="text" asp-for="IdLimp" placeholder="Ingrese el nuevo ID del Limpiador" />
        Nombre:<input type="text" asp-for="NomLimp" placeholder="Ingrese el nuevo Nombre del Limpiador" />
        Apellido:<input type="text" asp-for="ApeLimp" placeholder="Ingrese el nuevo Apellido del Limpiador" />
        Dirección:<input type="text" asp-for="DirLimp" placeholder="Ingrese la nueva dirección del Limpiador" />
        Celular:<input type="text" asp-for="TelLimp" placeholder="Ingresar el nuevo numero de telefono del Limpiador" />
        Disponibilidad:<input type="text" asp-for="DisLimp" placeholder="Ingrese la nueva Disponibilidad" />
        Tarifa:<input type="number" asp-for="TarLimp" placeholder="Ingrese el nuevo Precio" />
        Usuario:<input type="text" asp-for="Usr" placeholder="Ingrese el nuevo Usuario del Limpiador" />
        Contraseña:<input type="password" asp-for="Pwd" placeholder="Ingrese la nueva contraseña" />
        Etiqueta:<input type="text" asp-for="Etiqueta" placeholder="Ingrese la nueva Etiqueta" />
        Foto:<input type="file" accept="image/jpeg, image/jpg, image/png" name="FotoLimpiador" placeholder="Ingrese la nueva foto del limpiador" />
        <input type="submit" value="Grabar" />
    </form>
</body>
</html>