@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <LINK REL=StyleSheet HREF="~/css/estilosMain.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
    <header>
        <img src="image/xxxx" alt="LimpiaMAS" />
    </header>
    <div class="navbar">
        <div class="logo"><a href="#">LimpiaMAS</a></div>
        <ul class="links">
            <li>
                <a asp-action="Servicios">Servicios</a>
            </li>
            <li>
                <a asp-action="Nosotros">Nosotros</a>
            </li>
            <li>
                <a asp-action="Login">Ingresar</a>
            </li>
        </ul>
        <a asp-action="Register" class="register-btn">Únete a nosotros</a>
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</body>
</html>