@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/Estilos.css" />
    </head>
    <body>
        <main class="container">
           <img src="image/xxx" alt="fondo-login"/>
           <form action="">
               <h2 class="title">Login</h2>
               <label class="label">Usuario:</label>
               <input type="text" id="usr" placeholder="Ingresar Usuario" />
               <label class="label">Contraseña:</label>
               <input type="text" id="pwd" placeholder="Ingresar Usuario" />

               <input type="submit" value="INGRESAR" onclick="return Procesar()" />
               <p>¿No tiene una cuenta? <a>Registrate</a></p>
           </form>
        </main>
    </body>
</html>