@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/nosotros.css" />
</head>
<body>
    <h1>LIMPIA MÁS</h1>
    <p>Limpieza efectiva y sin riezgos, Limpia más, la más confiable </p>
    <img src="" alt="imagen limpiza" width="200px" />
    <h2>Visión </h2>
    <p>Nuestra visión es ofercer un servicio accesible y confiable de limpieza de hogares, y hacerlo a travéz de una pagina web segura para los clientes,
        trabajadoras y trabajadores del hogar; construyendo una pagina que marque la diferencia en la vida de las personas</p>
    <img src="" alt="imagen2"/>
    <h2>Misión</h2>
    <p>Nuestra misión es hacer que el habito de la limpieza sea accesible, eficaz y seguro;para todos los hogares de Lima </p>
    
</body>
</html>
