@import url('https://fonts.googleapis.com/css2?family=Comme&family=Lato&family=Montserrat&family=Poppins&family=Roboto&family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Mono;
}

body {
    margin: 0;
    margin-right: 300px;
    height: 1200px;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.navbar .links{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

    a:hover {
        color: white;
    }

/*HEADER*/
header {
    position: relative;
    padding: 0;
    color: black;
}

/*NAVBAR*/
.navbar {
    margin-left: 6vw;
    position: sticky;
    width: 84vw;
    height: 8vh; /*"viewport height" (altura de la ventana gráfica)*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background-color: #FDAFAB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /*background-image: linear-gradient(90deg, rgba(137, 235, 202, 0.5) 30%, rgba(122, 139, 239, 0.5));*/
}

    .navbar .logo a {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        margin-left: 5vw;
    }

        .navbar .logo a:hover {
            color: white;
        }
    .navbar .links {
        display: flex;
        gap: 12rem;
        height: 8px;
        margin-left: 6vw; /*"viewport width" (ancho de la ventana gráfica)*/
    }


.register-btn {
    background-color: #B6E3E9;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 150px;
}
    /*hover, aplicar estilos a un elemento cuando el cursor esta sobre el*/
    .register-btn:hover {
        scale: 1.050;
        color: #ffffff;
    }
    /*active, aplica estilos a un elemento cuando se clickea estem mismo*/
    .register-btn:active {
        scale: 0.95;
    }

    .container{
        color: none;
    }

/*INFOBAR*/
.info-bar {
    position: sticky;
    width: 95vw; /*"viewport width" (ancho de la ventana gráfica).*/
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: white;
}

    .info-bar li {
        margin-top: 1.5vh;
        margin-left: 6.8vw;
        display: inline-block;
        margin-right: 80px;
        font-size: 16px;
    }

.contenedor_imgtext {
    margin-left: 6vw;
    width: 84vw;
    position: sticky;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    .contenedor_imgtext .imagen {
        width: 1022px;
        height: 768px;
        background-image: url("../images/ordenado.jpg");
        background-repeat: no-repeat;
    }

    .contenedor_imgtext .text {
        width: 590px;
        height: 768px;
        position: absolute;
        top: 0;
        margin-left: 64rem;
        padding: 3rem;
        font-size: 48px;
        font-weight: bold;
        display: flex;
        text-align: center;
        line-height: 6rem;
        background-color: rgba(253,175,171, 0.6);
    }

        .contenedor_imgtext .text .servicios-btn {
            position: absolute;
            padding-left: 1rem;
            padding-right: 1rem;
            border: none;
            outline: none;
            border-radius: 30px;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
            left: 100px;
            bottom: 80px;
            background-color: rgba(182,227,233, 1);
            color: black;
        }

            .contenedor_imgtext .text .servicios-btn:hover {
                scale: 1.050;
                color: #ffffff;
            }

            .contenedor_imgtext .text .servicios-btn:active {
                scale: 0.95;
            }

.contenedor_limpiaMAS .pasos {
    list-style: none;
}

.contenedor_limpiaMAS {
    position: relative;
    width: 84vw;
    height: 42vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    .contenedor_limpiaMAS .header {
        padding-top: 1.5rem;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }

    .contenedor_limpiaMAS .pasos {
        position: sticky;
    }

        .contenedor_limpiaMAS .pasos .servicio {
            margin-left: 1rem; /*movemos la caja a la derecha de la caja mas grande*/
            padding-right: 2rem; /*con padding-right le estamos dando un marco derecho a la caja*/
            padding-bottom: 1rem;
            padding-top: 2rem;
            width: 24vw;
            height: 30vh;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

         .contenedor_limpiaMAS .pasos .servicio img {
            padding-bottom: 1rem;
            margin-left: 11rem;
            width: 20%;
         }
        .contenedor_limpiaMAS .pasos .servicio h6 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #F5727B;
        }

        .contenedor_limpiaMAS .pasos .servicio p {
            padding-top: 1rem;
            text-align: center;
            font-size: 1rem;
        }

        .contenedor_limpiaMAS .pasos .pago {
            position: inherit;
            bottom:1200px;
            margin-left: 34rem; /*movemos la caja a la derecha de la caja mas grande*/
            padding-right: 2rem; /*con padding-right le estamos dando un marco derecho a la caja*/
            padding-bottom: 1rem;
            padding-top: 2rem;
            width: 24vw;
            height: 30vh;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .contenedor_limpiaMAS .pasos .pago h6 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #F5727B;
        }

        .contenedor_limpiaMAS .pasos .pago img {
            margin-left: 11rem;
            width: 20%;
            padding-bottom:1rem;
        }

        .contenedor_limpiaMAS .pasos .pago p {
            padding-top: 1rem;
            text-align: center;
            font-size: 1rem;
        }

        .contenedor_limpiaMAS .pasos .satisfaccion {
            position: inherit;
            bottom: 1300px;
            margin-left: 67rem; /*movemos la caja a la derecha de la caja mas grande*/
            padding-right: 2rem; /*con padding-right le estamos dando un marco derecho a la caja*/
            padding-bottom: 1rem;
            padding-top: 2rem;
            width: 24vw;
            height: 30vh;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .contenedor_limpiaMAS .pasos .satisfaccion h6 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #F5727B;
        }

        .contenedor_limpiaMAS .pasos .satisfaccion img {
            margin-left: 11rem;
            width: 20%;
            padding-bottom: 1rem;
        }

        .contenedor_limpiaMAS .pasos .satisfaccion p {
            text-align: center;
            font-size: 1rem;
        }

/*DESCRIPCION SERVICIOS*/
.contenedor {
    margin-top: 60vh; /*margin para bajar el div*/
}
    .contenedor .titulo_parrafos {
        background-color: #FDAFAB;
        /*background-image: linear-gradient(90deg, rgba(122, 139, 239, 0.5), rgba(137, 235, 202, 0.5) 90%);*/
        /*background-image: linear-gradient(45deg, rgba(122, 139, 239, 0.4) 50%, rgba(156, 241, 152,0.3) 40%);*/
        position: sticky;
        width: 84vw;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .contenedor .titulo {
        text-align: center;
        text-transform: uppercase;
        color: black;

    }

    /*DISENIO RESPONSIVO*/
        @media screen and (max-width: 990px) {
        .navbar-links, .navbar .register-btn {
            display: none;
        }

        .navbar .toggle-btn {
            display: block;
        }
    }
    /*ctrl+shift+R para borrar la cache del navegador y ver los cambios


*/