*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    height: 100vh;
    background-color: antiquewhite;
    background-image: url("../images/casaLimpia.jpg");
    background-size: cover;
    background-position: center;
}
.titulo {
    font-style:oblique;
    color:#f6b544
}
.Contenedor {
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
}
.VisionYmision {
    width: 40vw;
    height: 700px;
    display: flex;
    margin: 50px;
    justify-content: end;
    font-style: italic;
    line-height:30px;
}
.eslogan {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.vision {
    width:250px;
    height:200px;
    /*margin-left:10%;*/
    margin-top:10vh;
}
h2 {
    color:#f6b544;
    font-size: 36px;
}
.mision {
    width: 250px;
    height: 50px;
    margin-left: 10%;
    color: #000000;
    margin-top: 10vh;
}

