*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    height: 100vh;
    background-color: antiquewhite;
    background-image: url("../images/casaLimpia.jpg");
    background-size: cover;
    background-position: center;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

    a:hover {
        color: #e4c23d
    }

/*HEADER*/
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

    .navbar .logo a {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .navbar .links {
        display: flex;
        gap: 5rem;
        height: 0px;
    }

.register-btn {
    background-color: #f58d3f;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
    /*hover, aplicar estilos a un elemento cuando el cursor esta sobre el*/
    .register-btn:hover {
        scale: 1.035;
        color: #ffffff;
    }
    /*active, aplica estilos a un elemento cuando se clickea estem mismo*/
    .register-btn:active {
        scale: 0.95;
    }

/*DISENIO RESPONSIVO*/
@media(max-width: 990px) {
    .navbar-links,
    .navbar .register-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }
}
.titulo {
    font-style: oblique;
    text-align:center;
    color: #f6b544;
}
.Contenedor {
    width: 790px;
    height: 900px;
    margin: auto;
    margin-top: 50px;
}
.VisionYmision {
    width: 40vw;
    height: 700px;
    display: flex;
    margin: 50px;
    justify-content: end;
    font-style: italic;
    line-height:30px;
    
}
.eslogan {
    font-weight: bold;
    font-style: italic;
}
.vision {
    width:250px;
    height:200px;
    /*margin-left:10%;*/
    margin-top:10vh;
}
h2 {
    color:#f6b544;
    font-size: 36px;
}
.mision {
    width: 250px;
    height: 50px;
    margin-left: 10%;
    color: #000000;
    margin-top: 10vh;
}


